<div *ngIf="pet" class="container">
  <h1>Meet {{pet.name}}</h1>
  <img class="img-fluid pet-picture" alt="{{pet.name}}" src="{{selectedPhotoUrl}}">

  
  <div class="container-fluid">
      <img *ngFor="let phototUrl of pet.photoUrls" class="pet-thumbnail img-thumbnail"  #imgPhotoUrl (click)="changeSelectedPhoto(imgPhotoUrl.alt)" alt="{{phototUrl}}" src="{{phototUrl}}">
  </div>
  <a *ngIf="pet.status=='AVAILABLE'" (click)="purchase()" class="btn btn-primary">Purchase</a>
  <a *ngIf="pet.status=='SOLD'" (click)="return()" class="btn btn-primary">Return</a>
  <a *ngIf="authService.hasRole('admin')" (click)="delete()" class="btn btn-primary" >Delete</a>
  <a *ngIf="authService.hasRole('admin')" routerLink="/edit-pet/{{pet.id}}" class="btn btn-primary">Edit</a>
</div>