<div class="card" style="width: 18em;">
  <img *ngIf="pet.photoUrls" class="card-img-top pet-card-img" alt="{{pet.name}}" src="{{pet.photoUrls[0]}}">
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    AKA:
    <p class="card-text" *ngFor="let tag of pet.tags">{{tag.name}}</p>
  </div>
  <div class="card-footer">
    <a *ngIf="pet.status=='AVAILABLE'" (click)="purchase()" class="btn btn-primary">Purchase</a>
    <a *ngIf="pet.status=='SOLD'" (click)="return()" class="btn btn-secondary">Return</a>
    <a (click)="delete()" class="btn btn-secondary">Delete</a>
    <span class="glyphicon glyphicon-log-out">Hello</span>
  </div>
</div>