<div class="card" style="width: 18em;">
  <img *ngIf="pet.photoUrls" class="card-img-top pet-card-img" alt="{{pet.name}}" src="{{pet.photoUrls[0]}}" routerLink="/pets/{{pet.id}}">
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    <a *ngIf="pet.photoUrls && pet.photoUrls.length > 1" routerLink="/pets/{{pet.id}}"> There are {{pet.photoUrls.length - 1 }} more images to see</a>
    <span *ngIf="pet.tags && pet.tags.length > 0" class="card-text">You can also call it </span>
    <span class="badge badge-info" *ngFor="let tag of pet.tags"> {{tag.name}} </span>
  </div>
  <div class="card-footer">
    <a *ngIf="pet.status=='AVAILABLE'" (click)="purchase()" class="btn btn-primary" >Purchase</a>
    <a *ngIf="pet.status=='SOLD'" (click)="return()" class="btn btn-primary" >Return</a>
    <a *ngIf="authService.hasRole('admin')" (click)="delete()" class="btn btn-primary" >Delete</a>
    <a *ngIf="authService.hasRole('admin')" routerLink="/edit-pet/{{pet.id}}" class="btn btn-primary">Edit</a>
  </div>
</div>